body {
  margin: 60px;
  background-color: #00ced1;
}

h1 {
  font-family: 'Baloo', cursive;
  color: white;
  text-align: center;
  font-size: 275%;
}
p, button, li{
  font-family: 'Raleway', sans-serif;
}

.wrapper {

  display: grid;
  position: relative;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 15px;
  color: #444;
}

.box {
  text-align: left;
  display: inline-block;
  position: relative;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 40px;
  font-size: 100%;
}
#complete{
  text-align: left;
}

.searchBox{

  border: none;
  border-bottom: 4px solid #ec99eb;
  background-color:  #f0fff0;
  padding: 8px 16px;
  margin: 5px 0;
  box-sizing: border-box;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: darkgray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: darkgray;
}
:-moz-placeholder { /* Firefox 18- */
  color: darkgray;
}

#inputName, #inputDue{
  text-align: left;
  background-color: #f0fff0;
  color: black;
  border: none;
  border-radius: 5px;

  padding: 12px 20px;
  margin: 8px 3px;
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color:	#ffe86f;
  color: #d519d2;
}

#addBtn{
  font-size: 100%;
}

.delete {
  padding: 8px 12px;
  margin: 6px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color:	#cc0000;
  color: white;
}

.done {
  padding: 8px 12px;
  margin: 6px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color:	#008000;
  color: white;
}

#completeList {
  color: #ffe86f;
}
